@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #F5F5F5;
  --gray-100: #C3C3C3;
  --gray-200: #737373;
  --gray-300: #3B3B3B;
  --gray-400: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-stolzl: 'Stolzl', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.font-stolzl {
  font-family: 'Stolzl', sans-serif;
}
